---
---

@import "bootstrap";

.blog-list-date {
  color: #888888;
  font-style: italic;
}

body {
  font-family: Lato,Roboto,"Helvetica Neue",Arial,sans-serif;
}

.footer {
  font-size: .8em;
}

.centered {
  text-align: center;
}

.big-arrow-bg {
  background-color: #343a40;
}

.lead {
  font-size: 1.25em;
  font-weight: 400;
  color: #FFFFFF;
}

.no-padding {
  padding: 0;
}

h1 {
  color: #fa6028;
}
