---
---

@import "bootstrap/scss/bootstrap";

.blog-list-date {
  color: #888888;
  font-style: italic;
}

a {
  color: #d74633;
}

a:not([class]), a:is([class *= "twitter-follow-button"]) {
    text-decoration: none;
}

a:not([class]):hover, a:is([class *= "twitter-follow-button"]):hover {
    color: #0062cc;
    text-decoration: underline;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #d74633;
}

body {
  font-family: Lato,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1.04em;
  line-height: 1.52;
}

.footer {
  font-size: .8em;
}

.centered {
  text-align: center;
}

.big-arrow-bg {
  background-color: #212529;
}

.lead {
  font-size: 1.25em;
  font-weight: 400;
  color: #FFFFFF;
}

.lead-dark {
  font-size: 1.25em;
  font-weight: 400;
  color: #212529;
}

.no-padding {
  padding: 0;
}

h1, .h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

h2, .h2 {
  font-size: 2.2rem;
}

h3, .h3 {
  font-size: 1.6em;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  margin-top: 40px;
}
.badge {
  padding: 0.33em .8em;
  font-size: 70%;
  font-weight: 500;
  border-radius: .15rem;
  text-transform: uppercase;
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  .dropdown-menu {
      padding: 0 0 .75rem 0;
      background-color: transparent;
      border: 0px;
  }
  .dropdown-item {
      color: rgba(255,255,255,1);
  }
}

p code, li code {
    font-size: 90% !important;
    color: #000;
    word-break: break-word;
    background-color: #f8f8f8;
    padding: 3px 4px;
}

p a code {
  color: inherit;
}

figure {
  figcaption {
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}

.social-badges iframe {
  vertical-align: middle;
}

.social-badges span {
  vertical-align: top;
}

.social-badge {
  display: inline;
  padding: 12px;
}
