# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to you under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# redirect old URL https://github.com/apache/datafusion/issues/10124
Redirect permanent /datafusion/user-guide/cli.html https://datafusion.apache.org/user-guide/cli/index.html

# redirect all datafusion URLs to new top level website
Redirect permanent /datafusion https://datafusion.apache.org

# redirect all datafusion-python URLs to new website
Redirect permanent /datafusion-python https://datafusion.apache.org/python

# redirect all ballista URLs to new website
Redirect permanent /ballista https://datafusion.apache.org/ballista

# fix Safari Content Security Policy errors
Header add Content-Security-Policy-Report-Only "default-src 'self' *.apache.org; \
 connect-src 'self' *.apache.org api.github.com; \
 font-src 'self' fonts.gstatic.com \
 style-src 'self' fonts.googleapis.com \
   'sha256-88sV2hhBstoYcag54b2hPpN+Oei7wd2Roz3k+RXEAfk=' \
   'sha256-B3D8HD6PV1HtGZ5Z3qkXsN6p/LAiwBn9jehRuPkMBhQ=' \
   'sha256-qo7STIM1L/OgU9y0De47mqod1UZFLJfTn36bRC42rfA='; \
 script-src 'self' *.apache.org \
   'sha256-zcLnLb0EtdHEeff3LAr93euk343CTrN0BMhlaeAD8yY=' \
   'sha256-eeHr1PLkM55qPqkpxjBDHGtxfQf3RvEYoENHzN4IL0Q='"
