---
layout: article
title: Project News and Blog
description: Updates and announcements about the Apache Arrow project
permalink: /blog/
---
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}

<h1>Project News and Blog</h1>

<hr class="mb-5">

{% for post in site.posts %}
  {% unless post.categories contains 'translation' %}
  <p>
    <h3>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    {% if post.translations %}
      <em>Translations:</em>
      {% for trans in post.translations %}
        <a href="{{ site.baseurl }}/blog/{{ trans.url }}">{{ trans.language }}</a>
      {% endfor %}
    {% endif %}
    <p>
    <span class="blog-list-date">
      {{ post.date | date: "%-d %B %Y" }}
    </span>
    </p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
  {% endunless %}
{% endfor %}
