{% include top.html %}

<body class="wrap">
  <header>
    {% include header.html %}
  </header>
  <div class="big-arrow-bg">
    <div class="container px-4 py-5 centered">
      <img src="{{ site.baseurl }}/img/arrow-inverse.png" style="max-width: 70%;"/>
      <p class="lead">A cross-language development platform for in-memory analytics</p>

      <div class="social-badges">
        <div class="social-badge">
          <a class="github-button" href="https://github.com/apache/arrow" data-size="large" data-show-count="true" aria-label="Star apache/arrow on GitHub">Star</a>
        </div>
        <div class="social-badge">
          <a href="https://twitter.com/ApacheArrow?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @ApacheArrow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-4 pt-5">
    <main role="main" class="pb-5">
      {{ content }}
    </main>

    {% include footer.html %}
  </div>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
